import { Secrets } from './secrets-types';

export const SECRETS: Secrets = {
  // // Personal Access Token with no scope
  PAT_NO_SCOPE: 'put in here your PAT',
  PAT_SCOPE_REPO: 'put in here your PAT',
};


// In GitHub Secrets, also update the secret called `TEST_CREDENTIALS` accordingly
// It must be : 
// - valid json object
// - match the expected secret names
//
// something like : 
//
// {
//   "PAT_NO_SCOPE": "xxxxxxxxxxxxx",
//   "PAT_SCOPE_REPO": "yyyyyyyyyyyyy"
// }
